{% extends 'base.html' %}
{% load static %}

{% block title %}Features{% endblock %}

{% block content %}
<body>
<div class="container">
  <br><br>
<div class="mx-auto text-center p-2 col-12">
  <img class="feature img-responsive" src="{% static '/img/main_features.png' %}" alt="">
</div>
<div class="row">
  <div class="mx-auto col-sm-12 col-md-6 col-lg-6 p-3">
    <img class="img-responsive w-100" src="{% static '/videos/sonic.gif' %}" alt="featuers">
  </div>
  <div class="mx-auto col-sm-12 col-md-6 col-lg-6 p-3">
    <img class="img-responsive w-100" src="{% static '/videos/vibration.gif' %}" alt="featuers">
  </div>
  <div class="mx-auto col-sm-12 col-md-6 col-lg-6 p-3">
    <img class="img-responsive w-100" src="{% static '/videos/nightlight.gif' %}" alt="featuers">
  </div>
  <div class="mx-auto col-sm-12 col-md-6 col-lg-6 p-3">
    <img class="img-responsive w-100" src="{% static '/videos/o_detail.gif' %}" alt="featuers">
  </div>
  <div class="mx-auto col-sm-12 col-md-6 col-lg-6 p-2">
    <img class="feature img-fluid" src="{% static 'videos/features.gif' %}" alt="featuers">
  </div>
  <div class="mx-auto col-sm-12 col-md-6 col-lg-6 p-2">
    <img class="feature img-fluid" src="{% static '/img/overview.png' %}" alt="featuers">
  </div>

</div>
</div>
</body>
{% endblock %}
