{% extends 'base.html' %}
{% load static %}

{% block title %}Features{% endblock %}

{% block content %}
<body>
<div class="container">
  <br><br>
<div class="row">
  <div class="mx-auto col-sm-12 col-md-6 col-lg-6">
    <img class="img-responsive w-100" src="{% static 'videos/features.gif' %}" alt="featuers">
  </div>
  <div class="mx-auto col-sm-12 col-md-6 col-lg-6">
    <img class="img-responsive w-100" src="{% static 'videos/features.gif' %}" alt="featuers">
  </div>

</div>
</div>
</body>
{% endblock %}
